.login{
    display:grid;
    place-items: center;
    margin-left: auto;
    margin-right:auto;
    padding-top:100px;
    padding-bottom:100px;
}
.login img{
    object-fit:contain;
    height:70px;
    margin-top:20px;
    margin-bottom: 20px;
}
.login form{
    display:flex;
    flex-direction: column;
}
.login form input{
    height:30px;
    width:320px;
    border:2px solid rgb(97, 97, 97);
    padding:4px;
    margin-bottom:7px;
    border-radius: 5px;
    outline:0;
}
.login span{
    cursor:pointer;
    color:rgb(0, 0, 214);
}
.login button{
    height:40px;
    background-color:#0077B7;
    color:white;
    margin-bottom: 10px;
}